<!DOCTYPE html>
<html>
  <head>
    <title>Zillo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}" %>
    
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
    </style>\

    <script type="text/javascript"> 
      window.logo = "<%= image_url("logo.png") %>"
      window.splash_img = "<%= image_url("splash_img.jpg") %>"
      window.buy = "<%= image_url("buy.png") %>"
      window.sell = "<%= image_url("sell.png") %>"
      window.rent = "<%= image_url("rent.png") %>"
      window.footer = "<%= image_url("footer.png") %>"
    </script>
  </head>

  <body>
    <%= yield %> 
  </body>
</html>
