<!DOCTYPE html>
<html>
  <head>
    <title>Zillo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
    </style>

    <script type="text/javascript"> 
      window.logo = "<%= image_url("logo.png") %>"
      window.splash_img = "<%= image_url("splash_img.jpg") %>"
      window.buy = "<%= image_url("buy.png") %>"
      window.sell = "<%= image_url("sell.png") %>"
      window.rent = "<%= image_url("rent.png") %>"
      window.footer = "<%= image_url("footer.png") %>"

      
      <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
      <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />

    </script>
  </head>

  <body>
  
<div id='map' style='width: 400px; height: 300px;'></div>
    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYWRlc2hwIiwiYSI6ImNrd3BrcDRvMTBiZ2UycG8wcGRzOHJhb3UifQ.M2qFGl7PNe9nqCf1C59Ohw';
    const map = new mapboxgl.Map({
      container: 'map', // container ID
      style: 'mapbox://styles/mapbox/streets-v11', // style URL
      center: [-74.5, 40], // starting position [lng, lat]
      zoom: 9 // starting zoom
    });
    </script>
    <%= yield %> 
  </body>
</html>
