<!DOCTYPE html>
<html>
  <head>
    <title>Zillo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}" %>
    
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
    </style>

    <script type="text/javascript"> 
      window.logo = "<%= image_url("logo.png") %>"
      window.splash_img = "<%= image_url("splash_img.jpg") %>"
      window.buy = "<%= image_url("buy.png") %>"
      window.sell = "<%= image_url("sell.png") %>"
      window.rent = "<%= image_url("rent.png") %>"
      window.icon = "<%= image_url("icon.png") %>"
      window.footer = "<%= image_url("footer.png") %>"
      window.listing = "<%= image_url("listing.jpg") %>"
      window.room1 = "<%= image_url("room-1.jpg") %>"
      window.room2 = "<%= image_url("room-2.jpg") %>"
      window.room3 = "<%= image_url("room-3.jpg") %>"
      window.room4 = "<%= image_url("room-4.jpg") %>"
      window.sell_background = "<%= image_url("sell_background.png") %>"
      window.sell_info_pic = "<%= image_url("sell_info_pic.png") %>"
      window.page1img1 = "<%= image_url("page1-1.png") %>"
      window.page1img2 = "<%= image_url("page1-2.png") %>"
      window.page1img3 = "<%= image_url("page1-3.png") %>"
      window.page1_main = "<%= image_url("page1-main.jpg") %>"
      window.splash = "<%= image_url("splash.jpg") %>"
    </script>
  </head>

  <body>
    <%= yield %> 
  </body>
</html>
